<div class="navbar">
  <div class="navbar-start">
    <a class="navbar-item" href="/dashboard"> Dashboard </a>
  </div>
  <div class="navbar-end">
    <div class="avatar avatar-ring avatar-md">
      <div class="dropdown-container">
        <div class="dropdown">
          <label class="btn btn-ghost flex cursor-pointer px-0 hover:bg-inherit" tabindex="0">
            <i class="gg-profile"></i>
          </label>
          <div class="dropdown-menu dropdown-menu-bottom-left">
            <a href="/dashboard" class="dropdown-item text-sm">Account</a>
            <a href="/dashboard/keys" tabindex="-1" class="dropdown-item text-sm">API Keys</a>
            <div class="dropdown-divider" role="separator"></div>
            <a href="/logout" tabindex="-1" class="dropdown-item text-sm dropdown-active">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
