<div>
  <div class="border-b-2 py-5 m-5">
    <h1 class="py-5 text-4xl">About</h1>
    <p>
      Find out more about the Starfield API project, how & why it started and some additional information.
    </p>
  </div>
  <div class="m-5 px-5 md:px-10">
    <h2 class="underline text-xl py-2">History & Background</h2>
    <p class="text-zinc-300">
      The project was created out of passion for Starfield by fans of Bethesda games. The project aims to make
      the lore & information from the game available to all in easy to use & consume formats.
    </p>
    <p class="text-zinc-300">
      Starfield API is a REST API built using Go (Golang), Fiber & Postgres and is hosted on Railway. The goal
      is to create a simple, stable & robust service for developers and fans to use as they see fit.
    </p>
    <h2 class="underline text-xl py-2">Disclaimer</h2>
    <p class="text-zinc-300">
      This project would not be possible without Bethesda Games Studios, ZeniMax & Microsoft. They are the
      creators and owners of the IP and we are simply making the content available in a different format.
      We're keen to highlight that this is a community project, not for profit and all credits should go to IP
      & content owners.
    </p>
    <h2 class="underline text-xl py-2">Contact Us</h2>
    <p class="text-zinc-300">
      Need to get in touch? have a suggestion? or want to get involved? Please reach out to us on
      <a class="text-blue-500" href="https://twitter.com/the_chrishurst">Twitter / X</a> or on
      <a class="text-blue-500" href="https://github.com/ytsruh/starfield-api">Github</a>
    </p>
  </div>
</div>
