{{template "partials/header" .}}

<div class="text-center flex-col">
  <div class="flex justify-center items-center">
    <div class="py-10 w-2/3">
      <h1 class="text-4xl">Welcome to the Starfield API</h1>
      <p class="text-lg py-2">
        The community resource for all things Starfield. Access a variety of data from across the Settled
        Systems in easy to consume formats.
      </p>
    </div>
  </div>
  <img src="/static/img/starfield_stripes.png" alt="Starfield logo" />
</div>
<div class="text-center flex-col py-10">
  <h2 class="text-2xl">Access & Documentation Coming Soon</h2>
</div>
